# IDE
.idea/
.vscode/
.zed/
.md
# Python
venv/
__pycache__/
*.pyc

# Env
.env

# Logs
logs/

# Build
build/
dist/

# DB
*.db
*.db-journal

# Node
node_modules/
web/dist/
.bat
# OS
.DS_Store

# Cache
.cache/
.eslintcache

# Others
upload/
*.exe